[Desktop Entry]
Encoding=UTF-8
Name=MinerOM
Comment=MinerOM P2P Cryptocurrency
Exec=minerom-qt %u
Terminal=false
Type=Application
Icon=minerom128
MimeType=x-scheme-handler/minerom;
Categories=Office;Finance;
Name[en_US]=minerom-qt.desktop
